#conversionMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#customGenerationSection, #metricsSection, #resultOutputSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
}

#customGenerationSubmitButton, #metricsCreateButton, #customRateInitiator {
	min-height: 24px;
	min-width: 24px;
	border-radius: 8px;
}

.dropdownMenu {
	justify-content: center;
	border-radius: 8px;
}

.inputField {
	border-radius: 8px;
}
