#conversionMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#customGenerationSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
}

#customGenerationSubmitButton {
	min-height: 24px;
	min-width: 24px;
	border-radius: 8px;
}

.dropdownMenu {
	justify-content: center;
}
