#conversionMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#customGenerationSection, #metricsSection, #resultOutputSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
}

#customGenerationSubmitButton, #metricsCreateButton, #customRateInitiator {
	min-height: 24px;
	min-width: 24px;
	border-radius: 8px;
	box-shadow: 4px 4px black;
	margin-bottom: 16px;
	font-family: sans-serif;
}

#customRateInitiator:active, #customGenerationSubmitButton:active, #metricsCreateButton:active {
	box-shadow: 1px 1px black;
	transform: translateY(4px);
}

#resultOutputSection {
	min-height: 64px;
}

#resultOutput {
	font-family: sans-serif;
	font-size: 44px;
	font-weight: 500;
}

.dropdownMenu {
	justify-content: center;
	border-radius: 8px;
	font-family: sans-serif;
}

.inputField {
	border-radius: 8px;
}

.customField {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	margin-bottom: 8px;
}

.customCreateLabel {
	padding: 8px;
	margin-right: 16px;
	font-family: sans-serif;
}

body {
	background: #fdfcfb;
}

.tableHead {
	font-size: 16px;
	font-weight: 500;
	font-family: sans-serif;
	border-radius: 8px;
	box-shadow: 1px 1px black;
	background: linear-gradient(#e66465, #9198e5);
}

#metricsTable {
	margin-top: 16px;
	font-family: sans-serif;
}

tr {
	border-radius: 8px;
}

tr:hover {
	font-weight: 500px;
	box-shadow: 1px 1px black;
	background: linear-gradient(#fdbbbb, #cda000);
}

td, th {
	padding: 8px;
}

td:hover {
	font-weight: 500px;
}

th {
	border: 1px solid black;
	border-radius: 8px;
}
